<!--
@Author: Justin Schieck
@Date:   2017-02-01T13:35:58-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-03T13:19:30-05:00
-->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">Family</a></li>
        <li><a href="/dene">Dad</a></li>
        <li><a href="/denise">Mom</a></li>
        <li><a href="/kira">Sister</a></li>
      </ul>
    </nav>
