<!--
@Author: Justin Schieck
@Date:   2017-02-03T13:08:31-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-03T13:49:54-05:00
-->



<% include ./partials/header.ejs %>
  <h1>Dene Schieck // Dad </h1>

  <p>
    Dene Schieck, grew up in rural ontario with three brothers and on a farm. Tending to cows and other animals was the other part of living on the farm while his mother 
    worked as a school lunch lady and a nurse, and his father worked an ems job before becoming a full time farmer himself.
  </p>
  <% include ./partials/footer.ejs %>
</body>

</html>
