<!--
@Author: Justin Schieck
@Date:   2017-02-03T13:08:39-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-03T13:53:53-05:00
-->



<% include ./partials/header.ejs %>
  <h1>Denise Schieck // Mom</h1>
  <p>
    Denise Schieck worked as a customer service analyst with La-z-boy for 15 years before the buisness closed her branch. Soon after she went back to school and got her teaching degree. She
    now teaches french immersion in fergus ontario and enjoying life.
  </p>
  <% include ./partials/footer.ejs %>
</body>

</html>
