<!--
@Author: Justin Schieck
@Date:   2017-02-03T13:01:31-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-03T13:44:30-05:00
-->



<!DOCTYPE html>
<html>
<% include ./partials/header.ejs %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my <%= title %></p>
  </body>
</html>
