<!--
@Author: Justin Schieck
@Date:   2017-02-03T13:08:48-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-03T13:55:28-05:00
-->

<% include ./partials/header.ejs %>
  <h1>Kira Schieck // Sister</h1>
  <P>
    Kira Schieck was a student in drayton ontraio and palmerston ontario for her highschool career. Straight A+ student and is now in algoma in the Phsycology for her future job as a therpist for many different types of people and issues.
  </P>
  <% include ./partials/footer.ejs %>
</body>

</html>
