<!--
@Author: Justin Schieck
@Date:   2017-02-03T13:25:04-05:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-02-03T13:25:27-05:00
-->



<% include ../partials/header.ejs %>
    <h1>Family</h1>

    <% include ../partials/footer.ejs %>
    </body>
</html>
